In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
import time

In [2]:
browser = Browser('chrome')
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://www.wunderground.com/hurricane/archive"
browser.visit(url)

# Allow time for the page to fully load (adjust as necessary)
time.sleep(5)

# Create a Beautiful Soup Object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Extract all rows of data
table = soup.find('table', {'role': 'grid', 'aria-labelledby': 'Storms'})

headers = table.find_all('th')
header_texts = [header.find('div', class_='mat-sort-header-content').text for header in headers]

# Extract the rows of the table
rows = table.find_all('tr')

header = table.find_all('th')

In [3]:
data = []
year_urls = []
retired_names_urls = []

# Loop through each row and extract columns and URLs
for row in rows:
    cols = row.find_all('td')
    
    # Check if cols is not empty
    if cols:
        col_data = [col.text.strip() for col in cols]  # Extract text from each column
        data.append(col_data)

        # Extract the Year URL from the first column
        year_column = cols[0]
        year_link = year_column.find('a')
        if year_link:
            year_urls.append(year_link['href'])
        else:
            year_urls.append(None)  # Append None if no URL is found

        # Extract the Retired Names URLs from the last column
        retired_names_column = cols[-1]
        retired_names_links = retired_names_column.find_all('a')
        if retired_names_links:
            retired_names_urls.append([link['href'] for link in retired_names_links])

# Output the results
print("Year URLs:", year_urls)
print("Retired Names URLs:", retired_names_urls)

browser.quit()

df = pd.DataFrame(data, columns=[header_texts])
df.head(20)

Year URLs: ['/hurricane/archive/AL/2018', '/hurricane/archive/AL/2017', '/hurricane/archive/AL/2016', '/hurricane/archive/AL/2015', '/hurricane/archive/AL/2014', '/hurricane/archive/AL/2013', '/hurricane/archive/AL/2012', '/hurricane/archive/AL/2011', '/hurricane/archive/AL/2010', '/hurricane/archive/AL/2009', '/hurricane/archive/AL/2008', '/hurricane/archive/AL/2007', '/hurricane/archive/AL/2006', '/hurricane/archive/AL/2005', '/hurricane/archive/AL/2004', '/hurricane/archive/AL/2003', '/hurricane/archive/AL/2002', '/hurricane/archive/AL/2001', '/hurricane/archive/AL/2000', '/hurricane/archive/AL/1999', '/hurricane/archive/AL/1998', '/hurricane/archive/AL/1997', '/hurricane/archive/AL/1996', '/hurricane/archive/AL/1995', '/hurricane/archive/AL/1994', '/hurricane/archive/AL/1993', '/hurricane/archive/AL/1992', '/hurricane/archive/AL/1991', '/hurricane/archive/AL/1990', '/hurricane/archive/AL/1989', '/hurricane/archive/AL/1988', '/hurricane/archive/AL/1987', '/hurricane/archive/AL/1986', '/hurricane/archive/AL/1985', '/hurricane/archive/AL/1984', '/hurricane/archive/AL/1983', '/hurricane/archive/AL/1982', '/hurricane/archive/AL/1981', '/hurricane/archive/AL/1980', '/hurricane/archive/AL/1979', '/hurricane/archive/AL/1978', '/hurricane/archive/AL/1977', '/hurricane/archive/AL/1976', '/hurricane/archive/AL/1975', '/hurricane/archive/AL/1974', '/hurricane/archive/AL/1973', '/hurricane/archive/AL/1972', '/hurricane/archive/AL/1971', '/hurricane/archive/AL/1970', '/hurricane/archive/AL/1969', '/hurricane/archive/AL/1968', '/hurricane/archive/AL/1967', '/hurricane/archive/AL/1966', '/hurricane/archive/AL/1965', '/hurricane/archive/AL/1964', '/hurricane/archive/AL/1963', '/hurricane/archive/AL/1962', '/hurricane/archive/AL/1961', '/hurricane/archive/AL/1960', '/hurricane/archive/AL/1959', '/hurricane/archive/AL/1958', '/hurricane/archive/AL/1957', '/hurricane/archive/AL/1956', '/hurricane/archive/AL/1955', '/hurricane/archive/AL/1954', '/hurricane/archive/AL/1953', '/hurricane/archive/AL/1952', '/hurricane/archive/AL/1951', '/hurricane/archive/AL/1950', '/hurricane/archive/AL/1949', '/hurricane/archive/AL/1948', '/hurricane/archive/AL/1947', '/hurricane/archive/AL/1946', '/hurricane/archive/AL/1945', '/hurricane/archive/AL/1944', '/hurricane/archive/AL/1943', '/hurricane/archive/AL/1942', '/hurricane/archive/AL/1941', '/hurricane/archive/AL/1940', '/hurricane/archive/AL/1939', '/hurricane/archive/AL/1938', '/hurricane/archive/AL/1937', '/hurricane/archive/AL/1936', '/hurricane/archive/AL/1935', '/hurricane/archive/AL/1934', '/hurricane/archive/AL/1933', '/hurricane/archive/AL/1932', '/hurricane/archive/AL/1931', '/hurricane/archive/AL/1930', '/hurricane/archive/AL/1929', '/hurricane/archive/AL/1928', '/hurricane/archive/AL/1927', '/hurricane/archive/AL/1926', '/hurricane/archive/AL/1925', '/hurricane/archive/AL/1924', '/hurricane/archive/AL/1923', '/hurricane/archive/AL/1922', '/hurricane/archive/AL/1921', '/hurricane/archive/AL/1920', '/hurricane/archive/AL/1919', '/hurricane/archive/AL/1918', '/hurricane/archive/AL/1917', '/hurricane/archive/AL/1916', '/hurricane/archive/AL/1915', '/hurricane/archive/AL/1914', '/hurricane/archive/AL/1913', '/hurricane/archive/AL/1912', '/hurricane/archive/AL/1911', '/hurricane/archive/AL/1910', '/hurricane/archive/AL/1909', '/hurricane/archive/AL/1908', '/hurricane/archive/AL/1907', '/hurricane/archive/AL/1906', '/hurricane/archive/AL/1905', '/hurricane/archive/AL/1904', '/hurricane/archive/AL/1903', '/hurricane/archive/AL/1902', '/hurricane/archive/AL/1901', '/hurricane/archive/AL/1900', '/hurricane/archive/AL/1899', '/hurricane/archive/AL/1898', '/hurricane/archive/AL/1897', '/hurricane/archive/AL/1896', '/hurricane/archive/AL/1895', '/hurricane/archive/AL/1894', '/hurricane/archive/AL/1893', '/hurricane/archive/AL/1892', '/hurricane/archive/AL/1891', '/hurricane/archive/AL/1890', '/hurricane/archive/AL/1889', '/hurricane/archive/AL/1888', '/hurricane/archive/AL/1887', '/hurricane/archive/AL/1886', '/hurricane/archive/AL/1885', '/hurricane/archive/AL/1884', '/hurricane/archive/AL/1883', '/hurricane/archive/AL/1882', '/hurricane/archive/AL/1881', '/hurricane/archive/AL/1880', '/hurricane/archive/AL/1879', '/hurricane/archive/AL/1878', '/hurricane/archive/AL/1877', '/hurricane/archive/AL/1876', '/hurricane/archive/AL/1875', '/hurricane/archive/AL/1874', '/hurricane/archive/AL/1873', '/hurricane/archive/AL/1872', '/hurricane/archive/AL/1871', '/hurricane/archive/AL/1870', '/hurricane/archive/AL/1869', '/hurricane/archive/AL/1868', '/hurricane/archive/AL/1867', '/hurricane/archive/AL/1866', '/hurricane/archive/AL/1865', '/hurricane/archive/AL/1864', '/hurricane/archive/AL/1863', '/hurricane/archive/AL/1862', '/hurricane/archive/AL/1861', '/hurricane/archive/AL/1860', '/hurricane/archive/AL/1859', '/hurricane/archive/AL/1858', '/hurricane/archive/AL/1857', '/hurricane/archive/AL/1856', '/hurricane/archive/AL/1855', '/hurricane/archive/AL/1854', '/hurricane/archive/AL/1853', '/hurricane/archive/AL/1852', '/hurricane/archive/AL/1851']
Retired Names URLs: [['/hurricane/archive/AL/2018/Hurricane-Florence/2018242N13343', '/hurricane/archive/AL/2018/Hurricane-Michael/2018280N18273'], ['/hurricane/archive/AL/2017/Hurricane-Harvey/2017228N14314', '/hurricane/archive/AL/2017/Hurricane-Irma/2017242N16333', '/hurricane/archive/AL/2017/Hurricane-Maria/2017260N12310', '/hurricane/archive/AL/2017/Hurricane-Nate/2017277N11279'], ['/hurricane/archive/AL/2016/Hurricane-Matthew/2016273N13300', '/hurricane/archive/AL/2016/Hurricane-Otto/2016323N13279'], ['/hurricane/archive/AL/2015/Hurricane-Erika/2015237N14315', '/hurricane/archive/AL/2015/Hurricane-Joaquin/2015270N27291'], ['/hurricane/archive/AL/2013/Hurricane-Ingrid/2013255N19268'], ['/hurricane/archive/AL/2012/Hurricane-Sandy/2012296N14283'], ['/hurricane/archive/AL/2011/Hurricane-Irene/2011233N15301'], ['/hurricane/archive/AL/2010/Hurricane-Igor/2010251N14337', '/hurricane/archive/AL/2010/Hurricane-Tomas/2010302N09306'], ['/hurricane/archive/AL/2008/Hurricane-Gustav/2008238N13293', '/hurricane/archive/AL/2008/Hurricane-Ike/2008245N17323', '/hurricane/archive/AL/2008/Hurricane-Paloma/2008311N14278'], ['/hurricane/archive/AL/2007/Hurricane-Dean/2007225N12331', '/hurricane/archive/AL/2007/Hurricane-Felix/2007244N12303', '/hurricane/archive/AL/2007/Hurricane-Noel/2007297N18300'], ['/hurricane/archive/AL/2005/Hurricane-Dennis/2005186N12299', '/hurricane/archive/AL/2005/Hurricane-Katrina/2005236N23285', '/hurricane/archive/AL/2005/Hurricane-Rita/2005261N21290', '/hurricane/archive/AL/2005/Hurricane-Stan/2005275N19274', '/hurricane/archive/AL/2005/Hurricane-Wilma/2005289N18282'], ['/hurricane/archive/AL/2004/Hurricane-Charley/2004223N11301', '/hurricane/archive/AL/2004/Hurricane-Frances/2004238N11325', '/hurricane/archive/AL/2004/Hurricane-Ivan/2004247N10332', '/hurricane/archive/AL/2004/Hurricane-Jeanne/2004258N16300'], ['/hurricane/archive/AL/2003/Hurricane-Fabian/2003240N15329', '/hurricane/archive/AL/2003/Hurricane-Isabel/2003249N14329', '/hurricane/archive/AL/2003/Hurricane-Juan/2003268N28298'], ['/hurricane/archive/AL/2002/Hurricane-Isidore/2002258N10300', '/hurricane/archive/AL/2002/Hurricane-Lili/2002265N10315'], ['/hurricane/archive/AL/2001/Hurricane-Allison/2001157N28265', '/hurricane/archive/AL/2001/Hurricane-Iris/2001278N12302', '/hurricane/archive/AL/2001/Hurricane-Michelle/2001303N13276'], ['/hurricane/archive/AL/2000/Hurricane-Keith/2000273N16277'], ['/hurricane/archive/AL/1999/Hurricane-Floyd/1999251N15314', '/hurricane/archive/AL/1999/Hurricane-Lenny/1999318N17278'], ['/hurricane/archive/AL/1998/Hurricane-Georges/1998259N10335', '/hurricane/archive/AL/1998/Hurricane-Mitch/1998295N12284'], ['/hurricane/archive/AL/1996/Hurricane-Cesar/1996207N12297', '/hurricane/archive/AL/1996/Hurricane-Fran/1996237N14339', '/hurricane/archive/AL/1996/Hurricane-Hortense/1996248N15319'], ['/hurricane/archive/AL/1995/Hurricane-Luis/1995240N11337', '/hurricane/archive/AL/1995/Hurricane-Marilyn/1995256N12309', '/hurricane/archive/AL/1995/Hurricane-Opal/1995271N19273', '/hurricane/archive/AL/1995/Hurricane-Roxanne/1995281N14278'], ['/hurricane/archive/AL/1992/Hurricane-Andrew/1992230N11325'], ['/hurricane/archive/AL/1991/Hurricane-Bob/1991228N26286'], ['/hurricane/archive/AL/1990/Hurricane-Diana/1990216N13281', '/hurricane/archive/AL/1990/Hurricane-Klaus/1990277N16301'], ['/hurricane/archive/AL/1989/Hurricane-Hugo/1989254N13340'], ['/hurricane/archive/AL/1988/Hurricane-Gilbert/1988253N12306', '/hurricane/archive/AL/1988/Hurricane-Joan/1988285N09318'], ['/hurricane/archive/AL/1985/Hurricane-Elena/1985240N20286', '/hurricane/archive/AL/1985/Hurricane-Gloria/1985260N13336'], ['/hurricane/archive/AL/1983/Hurricane-Alicia/1983228N27270'], ['/hurricane/archive/AL/1980/Hurricane-Allen/1980214N11330'], ['/hurricane/archive/AL/1979/Hurricane-David/1979238N12324', '/hurricane/archive/AL/1979/Hurricane-Frederic/1979241N11335'], ['/hurricane/archive/AL/1977/Hurricane-Anita/1977242N27272'], ['/hurricane/archive/AL/1975/Hurricane-Eloise/1975256N18306'], ['/hurricane/archive/AL/1974/Hurricane-Carmen/1974241N17304', '/hurricane/archive/AL/1974/Hurricane-Fifi/1974258N15295'], ['/hurricane/archive/AL/1972/Hurricane-Agnes/1972167N20271'], ['/hurricane/archive/AL/1970/Hurricane-Celia/1970212N18278'], ['/hurricane/archive/AL/1969/Hurricane-Camille/1969226N18280'], ['/hurricane/archive/AL/1968/Hurricane-Edna/1968256N13339'], ['/hurricane/archive/AL/1967/Hurricane-Beulah/1967249N14303'], ['/hurricane/archive/AL/1966/Hurricane-Inez/1966265N10325'], ['/hurricane/archive/AL/1965/Hurricane-Betsy/1965239N11310'], ['/hurricane/archive/AL/1964/Hurricane-Cleo/1964234N13316', '/hurricane/archive/AL/1964/Hurricane-Dora/1964242N14342', '/hurricane/archive/AL/1964/Hurricane-Hilda/1964273N21280'], ['/hurricane/archive/AL/1963/Hurricane-Flora/1963270N08327'], ['/hurricane/archive/AL/1961/Hurricane-Carla/1961247N13283', '/hurricane/archive/AL/1961/Hurricane-Hattie/1961301N12279'], ['/hurricane/archive/AL/1960/Hurricane-Donna/1960243N10337'], ['/hurricane/archive/AL/1957/Hurricane-Audrey/1957176N21267'], ['/hurricane/archive/AL/1955/Hurricane-Connie/1955215N15320', '/hurricane/archive/AL/1955/Hurricane-Diane/1955219N16319', '/hurricane/archive/AL/1955/Hurricane-Ione/1955253N14319', '/hurricane/archive/AL/1955/Hurricane-Janet/1955265N13307'], ['/hurricane/archive/AL/1954/Hurricane-Carol/1954238N24285', '/hurricane/archive/AL/1954/Hurricane-Hazel/1954278N12302']]

,Year,Storms,Hurricanes,Deaths,Damage (millions USD),Retired Names
0,2018,15,8,173,"50,205","2 - Florence, Michael"
1,2017,17,10,3364,"294,67","4 - Harvey, Irma, Maria, Nate"
2,2016,15,7,748,"17,490","2 - Matthew, Otto"
3,2015,12,4,89,>590,"2 - Erika, Joaquin"
4,2014,9,6,17,232,0
5,2013,13,2,47,"1,510",1 - Ingrid
6,2012,19,10,199,"75,000+",1 - Sandy
7,2011,19,7,100,"21,000",1 - Irene
8,2010,21,12,287,"12,356","2 - Igor, Tomas"
9,2009,11,3,6,77,0
10,2008,16,8,761,"24,945","3 - Gustav, Ike, Paloma"
11,2007,15,6,341,50,"3 - Dean, Felix, Noel"
12,2006,10,5,5,500,0
13,2005,28,15,"3,483","115,520","5 - Dennis, Katrina, Rita, Stan, Wilma"
14,2004,15,9,"3,126","45,235","4 - Charley, Frances, Ivan, Jeanne"
15,2003,16,7,50,"3,580","3 - Fabian, Isabel, Juan"
16,2002,12,4,23,"1,220","2 - Isidore, Lili"
17,2001,15,9,92,"5,260","3 - Allison, Iris, Michelle"
18,2000,15,8,30,26,1 - Keith
19,1999,12,8,78,"5,532","2 - Floyd, Lenny"